
.barra-navegacion {
display: flex;
background-color: darkmagenta;
padding: 10px;
justify-content: center;
}

.enlace-navegacion {
color: #fff;
margin-right: 20px;
text-decoration: none;
}

.gato2 {
float: right;
}

.cuadro-texto {   
    padding: 20px;              /* Espacio interno alrededor del texto */
    width: 1000px;              /* Ancho de la caja de texto */
    height: 250px;              /* Alto de la caja de texto */
    margin: 0 auto;
    background-color: #f0f0f0;  /* Fondo del cuadro */
    border-radius: 5px;         /* Bordes redondeados */
    color: darkmagenta;         /* Color del texto */
    margin-bottom: 20px;        /* Espacio abajo del cuadro */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Dar sombra al cuadro */
    text-align: justify;        /* Justificar el texto */
}

.cuadro-textoA {   
    padding: 20px;              /* Espacio interno alrededor del texto */
    width: 500px;               /* Ancho de la caja de texto */
    height: 100px;              /* Alto de la caja de texto */
    margin: 0 auto;
    background-color: #f0f0f0;  /* Fondo del cuadro */
    border-radius: 5px;         /* Bordes redondeados */
    color: darkmagenta;         /* Color del texto */
    margin-bottom: 20px;        /* Espacio abajo del cuadro */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Dar sombra al cuadro */
    text-align: justify;        /* Justificar el texto */
    align-items: center;
}

.facebook {
    color: blue; 
    font-size: 80px;
}

.texto-centrado {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titulo {
   font-size: 40px;
   font-weight: bold;
}

.negrita {
   font-weight: bold;
   font-size: 30px;
   color: darkmagenta; 
}

.pie-pagina {
display: flex;
background-color: darkmagenta;
justify-content: center;
color: #fff;
}

img {
   border: 4px solid darkmagenta;
   border-radius: 10px;
   margin-right: 20px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
